/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --accent: #EA918D;
    --accentHover: #e4aba7;
    --dark: #304659;
    --dark80: rgba(48, 70, 89, .8);
    --dark60: rgba(48, 70, 89, .6);
    --light: #F5F9FC;
    --trasition: all 0.3s ease 0s;
    --trasitionSlow: all 0.5s ease 0s;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: auto;
}

body {
    background: -o-linear-gradient( var(--dark60), var(--dark60)), url(../img/background.jpg);
    background: -webkit-gradient( linear, left top, left bottom, from(var(--dark60)), to(var(--dark60))), url(../img/background.jpg);
    background: linear-gradient( var(--dark60), var(--dark60)), url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p,
a,
button {
    font-family: "Roboto", sans-serif;
    color: var(--light);
    text-decoration: none;
}

a,
button,
.logo {
    cursor: pointer;
}

.menu {
    display: none;
    margin-left: auto;
}

main {
    height: 100%;
    display: -ms-grid;
    display: grid;
    /* Para usar grid*/
    -ms-grid-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
    grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
    /* configuração dos grids*/
    /* A esquerda: valor mínimo e máximo espaço em branco || repetir 6 vezes val. min. max. colunas || A direita: val. min. max. */
    /* 1fr calcula o valor restante para ocupar */
    /* 190px * 6 = 1140px tamanha max. das 6 colunas definidas  */
    /* embora seja definida 6 colunas para o conteudo foi definido 8 , 6 mais 2 espaça a direita e a esquerda*/
}

header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    /*conteudo começa na 2 coluna onde estão as 6 colunas de conteudo definadas*/
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 120px;
}

.links {
    margin-left: auto;
    /*ocupa todo o espaço da esquerda, alinha a direita*/
}

.links a,
.links button {
    font-size: 1.0625rem;
    /* =17px https://www.ninjaunits.com/converters/pixels/pixels-rem/*/
    font-weight: 400;
    -webkit-transition: var(--trasition);
    -o-transition: var(--trasition);
    transition: var(--trasition);
}

.links a {
    margin-right: 50px;
}

.links a:hover {
    color: var(--accent);
}

.button__med {
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    -webkit-transition: var(--trasition);
    -o-transition: var(--trasition);
    transition: var(--trasition);
}

.button__med:hover {
    background-color: var(--accentHover);
}

.info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / span 4;
}

.hero__font {
    color: var(--light);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 4.375rem;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px;
}

.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icon__info {
    margin: 0 80px 0 20px;
}

.icon__top {
    font-size: 1.0625rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.icon__bottom {
    font-size: 1.5625rem;
    font-weight: 700;
}

.features {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / span 7;
    background-color: var(--dark80);
    align-self: flex-end;
    padding: 40px 0 0 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* wrap para a proxima linha*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 60px 40px 0;
}

.feature:nth-child(3) {
    -ms-flex-item-align: start;
    align-self: flex-start;
    /* linha junto ao inicio do alinhamento flex dos outros elementos*/
}

.feature img {
    height: 100px;
    margin-right: 20px;
}

.feature__info {
    margin-top: 10px;
}

.feature__top,
.feature__cta {
    font-size: 0.8125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__cta {
    cursor: pointer;
    -webkit-transition: var(--trasition);
    -o-transition: var(--trasition);
    transition: var(--trasition);
}

.feature__cta:hover {
    color: var(--accent);
}

.feature__bottom {
    width: 180px;
    font-size: 1rem;
    font-weight: 400;
}

@media only screen and (max-width: 1100px) {
    .icon img {
        height: 55px;
        width: auto;
    }
    .icon__top {
        font-size: 1rem;
    }
    .icon__bottom {
        font-size: 1.125rem;
    }
    .hero__font {
        font-size: 2.1875rem;
    }
    .features {
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / span 8;
    }
}

@media only screen and (max-width: 650px) {
    .info {
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
        grid-column: 2 / span 6;
    }
    .icons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .icon {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:800px) {
    nav>.links {
        display: none;
    }
    .menu {
        display: inherit;
    }
}


/* Mobile Nav*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--dark80);
    overflow-x: hidden;
    -webkit-transition: var(--trasitionSlow);
    -o-transition: var(--trasitionSlow);
    transition: var(--trasitionSlow);
}

.overlay__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 2.25rem;
    display: block;
    -webkit-transition: var(--trasition);
    -o-transition: var(--trasition);
    transition: var(--trasition);
}

.overlay a:hover {
    color: var(--accent)
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 3.75rem;
}

@media only screen and (max-height: 450px) {
    .overlay a {
        font-size: 1.25rem;
    }
    .overlay .close {
        font-size: 2.5rem;
        top: 15px;
        right: 35px;
    }
}